/*
Theme: Nestor
v1 Ago
v2 30 Nov
 */
#s{ display: none }

 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
 sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
 header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } article, aside, details, figcaption, figure, footer, header, hgroup, menu,
 nav, section {display: block; } body {line-height: 1; } ol, ul {list-style: none; } blockquote, q {quotes: none; } blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; }
 table {border-collapse: collapse; border-spacing: 0; }

@font-face {
	font-family: 'Helvetica Co';
	src:url('fonts/HelveticaNeue-Condensed.eot');
	src:url('fonts/HelveticaNeue-Condensed.woff') format('woff'),
			url('fonts/HelveticaNeue-Condensed.ttf') format('truetype'),
			url('fonts/HelveticaNeue-Condensed.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
* { margin:0; padding:0; box-sizing: border-box; }
* a{ text-decoration: none; color: #666666;  cursor: pointer}
body{
	font-family: 'Helvetica Co', sans-serif;
	font-size: 16px;
	color: #666666;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
}
.hideDisplay { display: none }
.showDisplay { display: block }
.showDisplayFlex { display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; }
/* LOADING */
#loading{
	position: fixed;
	top:0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #fff;
	z-index: 9000;
	-webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-ms-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;
}
#loading>img{
	position: absolute;
	top: calc(40vh - 30px);
	left: calc(50vw - 30px);
	width: 60px;
	height: 60px;

	-webkit-animation: rotE 10s linear infinite;
  -moz-animation: rotE 10s linear infinite;
  -ms-animation: rotE 10s linear infinite;
  -o-animation: rotE 10s linear infinite;
	animation: rotE 10s linear infinite;

	-webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
#loading>div{
	position: absolute;
	top: calc(40vh + 60px);
	left: calc(50vw - 150px);
	width: 300px;
	height: 60px;
}
#loading>div>p{
	display: block;
	text-align: center;
	font-size: 24px;
	line-height: 1.2;
}
#loading>div>p:nth-child(2){
	font-size: 16px;
}
nav{
  display: block;
  position: relative;
  width: 96vw;
  height: 60px;
  line-height: 60px;
  background: #fff;
  z-index: 2000;
  margin: 10px auto;
}
nav>a:first-child{
  text-decoration: none;
  font-size: 30px;
}
nav>a:first-child:hover{
  text-decoration: underline;
}
nav>a:nth-child(2){
  display: block;
  width: 40px;
  position: absolute;
  right: 5%;
  top: 12%;
}
nav>a:nth-child(3){
	position: absolute;
	right: calc(7% + 50px);
	font-size: 22px;
	text-decoration: none;
}
nav>a:nth-child(3):hover{
  text-decoration: underline;
}
.main{
  position: relative;
  width: 100vw;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.main>section{
  position: relative;
  width: 100vw;
}
.main>section>div{
  position: absolute;
  top: 0;
  width: 100vw;
  height: 80vh;
  overflow: hidden;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;

  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;

  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
.main>section>div>img{ width: 100% }
.main>section>ul{
  position: relative;
  width: 95%;
  margin: 0 auto;
  z-index: 10;
}
.main>section>ul>li{
  display:block;
  font-size: 18px;
  float: left;
  margin: 8px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
	color: #fff;
	padding: 7px 2px;
}
.main>section>ul>li:hover{ background: #fff }
.main>section>ul>li:hover>a{ text-decoration: underline }
.main>section>ul>li>a{
  text-decoration: none;
	padding: 7px;
}
/* Proyectos */
.main_projects{
  position: relative;
  width: 96vw;
  margin: 5% auto;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.main_projects>article{ width: 100% }
.main_projects>article>h1{
  text-transform: uppercase;
  font-size: 2rem;
}
.main_projects>article>p{
  font-size: 1rem;
  margin: 30px auto;
}
.sliderWrap{
	position: relative;
	width: 100%;
}
#sliderContainer{
  position: relative;
	width: 100%;
	background: #fff;
  height: 250px;
}
#sliderContainer>li{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.hideSlide{ display: none }
.showSlide{ display: block }
#bullets{
	position: relative;
	width: 100%;
	height: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	-webkit-flex-direction:row;
	align-items:center;
	-webkit-align-items:center;
	justify-content:space-around;
	-webkit-justify-content:space-around;
}
#bullets>li{
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: #b6b5b7;

		-webkit-transition: all 0.5s ease-out;
		-moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		-o-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;
}
#onDetect{
  position: absolute;
  top: calc(50% - 100px);
  width: 100%;
  height: 200px;
  background: none;
  z-index: 200;
}
footer{
  position: relative;
  width: 90vw;
  left: 2vw;
  background: #fff;
  line-height: 1.2;
	color: #666;
}
footer> a{
  display: block;
}
#about{
  position: relative;
  width: 95vw;
  margin: 0 auto;
}
#about>h2{
  text-transform: uppercase;
  font-size: 2rem;
}
#about>article{
  width: 100%;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  margin: 30px auto;
}
#about>article>div>img{ width: 100% }
#about>article>div>h1{
  font-size: 1.5rem;
  margin: 15px auto;
  font-weight: bold;
}
#about>article>div>p{
  font-size: 0.9rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
#about>article>div>h3{
  font-weight: bold;
  font-size: 1.5rem;
  margin: 15px auto;
}
#about>#cultural{
  width: 100%;
  margin-bottom: 60px;
}
#about>#cultural>div{
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
#about>#cultural>div>div{ margin: 10px 0 }
#about>#cultural>div>div>h4{
  font-weight: bold;
  text-decoration: underline;
  margin: 5px 0;
}
#about>#cultural>div>div>p{
  font-size: 0.9rem;
  opacity: 0.8;
}
#about>#cultural>h3{
  font-size: 1.5rem;
  font-weight: bold;
}
/* DESKTOP */
@media screen and (min-width:800px) {
  .main{
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .main>section>ul{
    margin-top: 30px;
    min-height: 80vh;
  }
	.main>section>ul>li{
		font-size: 35px;
    background:#fff;
	}
  .main>section>ul>li>a:hover{
    text-decoration: underline;
  }
  .main_projects{
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
  }
  .main_projects>article{
    width: 30%;
  }
  #sliderContainer{
    height: 400px;
  }
  #bullets{
    width: 70%;
    margin: 0 auto;
  }
  #about>article:nth-child(2), #about>article:nth-child(4){
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
  }
  #about>article:nth-child(3){
    position: relative;
    margin: 60px auto;
    flex-direction:row-reverse;
    justify-content: space-between;
  }
  #about>article:nth-child(3)>.img{
    height: 700px;
    background-image:url('../img/about/about3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #about>article:nth-child(3)>.img>img{
    display: none;
  }
  #about>article>.info{
    width: 35%;
  }
  #about>article>.img{
    width: 60%;
  }
  #about>#cultural>div{
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
  }
  #about>#cultural>div>div{
    width: 18%;
    margin: 0 30px;
  }
}
/* MAX */
@media screen and (min-width:1500px){
  #sliderContainer{
    height: 600px;
  }
}

.showDisplayFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

@-webkit-keyframes rotE { 100% { transform: rotate(360deg); } }
@-moz-keyframes rotE { 100% { transform: rotate(360deg); } }
@-ms-keyframes rotE { 100% { transform: rotate(360deg); } }
@-o-keyframes rotE { 100% { transform: rotate(360deg); } }
@keyframes rotE { 100% { transform: rotate(360deg); } }
